@font-face {
    font-family:Oswald;
src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
@media screen and (min-width: 00) {
    
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
section{
    display: block;
}
body{
    background-color:white;
}
h1,h2,p,{
    font-family:"Oswald" ;
}
/*begin of nav*/
nav{
    background-color: black;


}
nav a{
    color: white;
    font-size: 20px;
    padding:10px 15px;
    display: inline-block;
    background-color:#000;
}
nav a:hover{
background-color: lightgrey;
color: black;

}
.lasticon{
float: right;
}

/*begin of text section*/
.textsection{
text-align: center;
padding: 50px 1px;
}
.textsection h1{
font-family:'Oswald' ;
font-size: 45px;
font-weight: 900;
}
.textsection p{
padding: 20px 0px;
font-size: large;

}
.textsection p span{
    background-color: black;
    color: white;
    padding: 1px 5px;
    font-family: Oswald ;
    font-weight: 200;
}

/*begin of header*/
header{
position: relative;
}
header section{
    position: absolute;
    top: 40%;
    left: 50px;
    color: white;
    text-align: left;
    font-size: 45px;
    padding: 20px 0px;
}
header section h1{
    letter-spacing: 3px;
   

}
header section h2{
    letter-spacing: 3px;
   
}
header section button{
    padding: 20px;
    background-color:rgba(160, 160, 160, 0.7);
    border: none;
    font-weight: bold;
}
header section button:hover{
    background-color: rgba(160, 160, 160, 0.9);

}

/*begin of main*/
main{
height: auto;
margin-top: -5px;
overflow: auto;
background-color: rgba(160, 160, 160, 0.9);
}
main #leftside{
display: inline-block;
float: left;
width: 70%;
background-color: #bfbaba;
padding: 20px;

}
main #leftside article{
background-color: white;
padding: 25px;
margin: 20px 0px;
}
main #leftside article h2{
text-align: center;
padding: 5px 0px;
}
main #leftside article .hpar{
text-align: center;
padding: 20px 0px;
font-size: large;
}
main #leftside p span{
color: gray;

}
main #leftside article .par{
    font-family: 'open sans';
    text-align: left;
    text-align: justify;
    font-size: 18px;
}
main #leftside article .par span{
    font-weight: bold;
    color: black;

}
main #leftside article .buttonsdiv{
padding: 20px;

}
main #leftside article .buttonsdiv .likeb{
float: left;
background-color: white;
border: 1px solid lightgray;
color: #000;
padding: 10px;
font-weight:bold ;
}
main #leftside article .buttonsdiv .likeb:hover{
    background-color: #616161;
    border-color: #616161;
}
main #leftside article .buttonsdiv .repb{
float: right;
background-color: #000;
color: white;
border: none;
padding: 10px;
font-weight: bold;
}
main #leftside article .buttonsdiv .repb:hover{
    background-color: #808080;
    color: #000;
}
main #leftside article .buttonsdiv .repb span {
    color: black;
    background-color: oldlace;
    padding: 0px 5px;
}
main #leftside article .buttonsdiv .repb span:hover{
    background-color: #616161;
    color: #000;
}
main #leftside article .articlefooter{
    padding: 20px 0px;

}

main #leftside article .articlefooter .imgd{
    width: 10%;
    display: inline-block;
    float: left;
}
main #leftside article .articlefooter .textd{
    float: right;
    display: inline-block;
    width: 90%;
    
}
main #leftside article .articlefooter .textd p{
     text-align: left;
    padding: 10px 30px;
    font-family: oswald;
    
}

main #rightside{
display: inline-block;
float: right;
width: 30%;
background-color: white;
padding: 20px;

}

main #rightside #girlsection{
padding: 20px 0px;

}
main #rightside #girlsection div{
background-color: #000;
color: #f1f1f1;
padding:  15px;
margin-top: -10px;

}
main #rightside #girlsection div p{
  padding-bottom: 15px;

}

main #rightside article{
 margin-bottom: 20px;

}
main #rightside article .articleheading{
  background-color: black;
    color: white;
    padding: 20px;
}

main #rightside article .articlebody {
background-color: white;
height: auto;
overflow: auto;
padding:  5px 25px;
margin-top: 3px;
padding-top: 20px;
}

main #rightside article .b1 .articledes{
   margin: -20px;
   display: block;
   font-size: bold;
   font-family: oswald;
   padding: 3px;
  
}

main #rightside article .b1 .articledes .imgdes{
float: left;
width: 15%;
display: block;
}
main #rightside article .b1 .articledes .textdes{
width: 85%;
padding: 0px 10px;
text-align:left;
margin-left: 60px;
}

main #rightside article .b1 .articledes .textdes p{

}

main #rightside article .b1 .articledes:hover{
    background-color:#ccc;

}
main #rightside article b2{
    padding: 20px;
}
main #rightside article .b2 p{
text-align: center;
background-color: #ccc;
padding: 50px;

}
main #rightside article .b3{
padding: 20px;
}

main #rightside article .b3 span{
    background-color: #ccc;
    margin:  10px 5px;
    display: inline-block;
}

main #rightside article .b3 .firspan{
background-color: #000;
color: white;

}

main #rightside article .b4{
padding: 20px;

}
main #rightside article .b4 img{
    display: inline-block;
    padding: 3px;
}

main #rightside article .b5{
    padding: 20px;
    font-size: 21px;
}
main #rightside article .b5 i{
    padding: 0px 2px;
}
main #rightside article .b5 i:hover{
    color: gray;
}

main #rightside article .b6{
    padding: 20px;
}

main #rightside article .b6 form{

}

main #rightside article .b6 form label{
    display: block;
    width: 100%;

}


main #rightside article .b6 form input{
display: block;
width: 100%;
margin: 15px 0px;
padding: 10px;
}

main #rightside article .b6 form button{
    display: block;
    padding: 10px;
    border: none;
    background-color: #f44336;
    color: white;
    text-align: center;
    width: 100%;
}



.cl{
    clear: both;
    content: " ";
}





/*begin of footer*/
footer{
    background-color: #616161;
color: white;
padding: 30px;
}

footer .b1{
    background-color:black;
    color: beige;
    padding: 18px;
    border: none;
    text-decoration: none;
}
footer p{
     font-family:'open sans';
     padding: 40px 0px;
     font-size: 12px;
}
footer p a{
    color: white;
}

@media screen  and (max-width:600px){
    header section{
       
        top: 20%;
    }
    header section h1{
        font-size: 40px;
        padding: 20px 0px;
       
    }
    header section h3{
        letter-spacing: 3px;
       font-size: 30px;
    }


    main #leftside,main #rightside{
        display: block;
        float: none;
        width: 100%;
    }
}

